:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body, #root {
  height: 100%;
  width: 100vw;
  /* overflow: hidden; */
}

main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

header {
    flex-shrink: 0; /* Prevent header from shrinking */
    z-index: 1000;
}