.App-logo {
  height: inherit;
  pointer-events: none;
  margin: 0 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: max(10px, 1vmin);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-name {
  display: flex;
  flex:auto;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

html, body, #root {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

.App-body {
  background-color: #d5d9da;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.element {
  font-family: Arial, sans-serif;
}

.plant-cell {
  border: 1px solid black;
  border-radius: 4px;
  width: inherit;
  height: 100%;
  display: flex;
  flex: inherit;
  cursor: pointer;
  color: black;
  font-size: calc(10px + 2vmin);
}


.plant-cell:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.plant-layer {
    display: flex;
    flex: inherit;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.plant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    height: min(80%, 80vh);
    width: 60vw;
    gap: 10px;
}

.control {
  background: fixed;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  border: none; 
  font-size: 1rem;
  color: black;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.control:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.location-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.location-logo {
  height: inherit;
  /* pointer-events: none; */
  margin: 0 10px;
}