.App-logo {
  height: inherit;
  pointer-events: none;
  margin: 0 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s reverse;
  }
}

.App {
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: #d5d9da;
}

.App-body {
  display: flex;
  margin: ;
  flex: auto;
  justify-content: center;
  align-items: baseline;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.element {
  font-family: Arial, sans-serif;
}

.plant-cell {
  border: 1px solid black;
  height: inherit;
  width: 100%;
  flex-direction: column;
  cursor: pointer;
  color: black;
  border-radius: 8px;
  font-size: calc(10px + 2vmin);
}


.plant-cell:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.plant-layer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 100%;
    min-height: 0; /* Important for flex children
    /* overflow: hidden; */
}

.plant-container {
    flex-direction: column;
    height: 75vh;
    width: 100vw;
    padding: 10px;
    gap: 10px;
}
