.App-logo {
  height: inherit;
  pointer-events: none;
  margin: 0 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s reverse;
  }
}

.App {
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: #d5d9da;
}

.App-body {
  display: flex;
  padding: 10px;
  flex: auto;
  justify-content: center;
  align-items: baseline;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.element {
  font-family: Arial, sans-serif;
}

.plant-cell {
  border: 2px solid black;
  height: inherit;
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  /* font-size: calc(10px + 2vmin); */
  /* position: relative; */
  /* overflow: hidden; */
}


.plant-cell:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.plant-layer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* min-height: 0; Important for flex children */
    /* overflow: hidden; */
}

.plant-container {
    border: 2px solid rgb(0, 0, 0);
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 70vw;
    padding: 10px;
    gap: 10px;
}
